<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100">

<!-- nuestro menu -->
<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style=" margin-bottom: 30px;"> 

    <carousel [cellWidth]="'100%'" [cellsToShow]="2.3"  [height]= "80" [arrows]=false >
    
        <div class="carousel-cell"> 
            <button mat-raised-button   class="font" appearance="outline" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" (click)="menuClicked('price');" [ngClass]="price ? 'btnMenuClicked':' btnMenu'"> <b>Precios</b> </button>
        </div>
        <div class="carousel-cell" > 
            <button  mat-raised-button  class="font" appearance="outline" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" (click)="menuClicked('stock')" [ngClass]="stock ? 'btnMenuClicked':' btnMenu'"> <b>Stock</b> </button>
        </div>
        <div class="carousel-cell"> 
            <button  mat-raised-button  class="font" appearance="outline" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"  (click)="menuClicked('openingHours')" [ngClass]="openingHours ? 'btnMenuClicked':' btnMenu'" class="mat-button-wrapper"> <b>Horario</b> </button>
        </div>
    
        <div class="carousel-cell"> 
            <button  mat-raised-button  class="font" appearance="outline" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"  (click)="menuClicked('pauseApp')" [ngClass]="pauseApp ? 'btnMenuClicked':' btnMenu'"> <b>Pausar App </b></button>
        </div>

    </carousel>
</div>
  <!-- end menu option -->

<!-- start edit price -->
  <app-edit-price fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100"></app-edit-price>  
<!-- end edit price -->

<!-- start edit stock -->
  <app-edit-stock fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100"></app-edit-stock>  
<!-- end edit stock -->

<!-- start edit hourly rate -->
<app-edit-hour  fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100"></app-edit-hour>  
<!-- end edit hourly rate -->

</div>


