<div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" (scroll)="onScroll($event)" class="scroll" >

  <div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex="90" class="whiteframe" style="height: 100%; background-color: white; margin-top: 10px;">


      <!-- start select buttons -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign.xs="center center"  fxLayoutAlign="center center" fxFlex="100" class="mt-60">
        <div class="iconContainer" > 

            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="48" fxFlex="48" [matMenuTriggerFor]="menu">
                <div class="mainIcon" style="display: flex;"  >
                    <span class="material-symbols-outlined notranslate"> refresh </span>
                </div>
                <span class="textMainIcon"  style="text-align: center;">Pto de Venta </span>
            </div>  
       

            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="48" fxFlex="48"  >
                <div class="mainIcon"  >
                    <span class="material-symbols-outlined notranslate"> edit </span>
                </div>
                <span class="textMainIcon" fxFlex="100" style="text-align: center;">Pto Venta y N°</span>
            </div>  

            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="48" fxFlex="48" (click)="loadOrders()"> 
                <div class="mainIcon"  >
                    <span class="material-symbols-outlined notranslate"> add </span>
                </div>
                <span class="textMainIcon" fxFlex="100" style="text-align: center;">Listado General </span>
            </div>  
        </div>
      </div> -->
      <!-- end select buttons -->

        <div fxLayout="row wrap" fxLayoutAlign.xs="center center"  fxLayoutAlign="space-between center" style="margin-top: 60px; height: 150px; " >
            <!-- PRIMERO -->
            <div fxLayout="row wrap" fxLayoutAlign="center start"   fxFlex="27" class="font" style=" margin-top: 3px;" >
                    <span style="font-size: 1.2em;"> Selección Pto Venta</span>
                    <form  [formGroup]="myForm" style=" width: 450px; display: flex; justify-content: space-between;"   > 
                        <mat-form-field  class="font" style="margin-top: 4px;">
                            <mat-label> Pto Venta</mat-label>
                            <mat-select  formControlName="type" (selectionChange)="selectSalePoint($event.value)" >
                                        <mat-option>------</mat-option>
                                        <mat-option *ngFor="let pto of ptoVenta" [value]="pto">{{pto}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>    

            <!-- medio -->
            <div fxLayout="row wrap" fxLayoutAlign="center start"  fxFlex="45" class="font" >
                    <!-- titulo medio -->
                    <span style="font-size: 1.2em; text-align: center;" fxFlex="100"> Pto Venta y N° </span>
                    
                        <form  [formGroup]="myForm"  style=" width: 450px; display: flex; justify-content: space-between;" > 

                            <mat-form-field class="font" appearance="outline" style="width: 95px;">
                                <mat-label>Pto venta</mat-label>
                                <input matInput type="text" formControlName="ptoVenta">
                            </mat-form-field>

                            <mat-form-field class="font" appearance="outline" style="width: 95px;">
                                <mat-label>N° pedido</mat-label>
                                <input matInput type="text" formControlName="nroOrder">
                            </mat-form-field>

                            <button mat-raised-button  [ngClass]="!send ? 'btnMenuClicked':'btnMenu'" (click)="getSalePointByNumOrder()"  style="height: 50px !important; width: 100px; margin-top: 4px;">
                                <i class="material-symbols-outlined notranslate">redo</i> 
                                &nbsp;Buscar
                            </button>
                        </form>
            </div>    
                            
            <!-- icono -->
            <div fxLayout="row wrap"  fxLayoutAlign="center start"  fxFlex="27" (click)="loadOrders()"> 
                <div class="mainIcon"  >
                    <span class="material-symbols-outlined notranslate"> add </span>
                </div>
                <span class="textMainIcon" fxFlex="100" style="text-align: center;">Listado General </span>
            </div>  
        </div>
            
        <mat-paginator #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [disabled]="disabled"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex"
        aria-label="Select page" style="margin-top: 30px;">
        </mat-paginator>
    
    <!-- start order -->
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="100"  fxFlex="80"*ngFor="let order of arrOrders" class="mt-30 whiteframe"   >

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="pd-10">

          <div  fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="100" style="background-color: rgb(37, 150, 190); height: 30px; padding: 5px; color: white;">
              <span class="font ">id pedido: {{order.idPedido}}</span>
              <span class="font ">Estado: <label [ngStyle]="styleObject(order.estado)"> &nbsp; {{order.estado }}</label></span>
        
          </div> 

          <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" class="mt-20" >

                    <span fxFlex="45" fxFlex.xs="100" class="font " style="text-align: start;"><b>{{order.razonSocial}}</b></span>
                    <!-- <span fxFlex="50" fxFlex.xs="100" class="font  mt-5"><b>{{order.localidad}}</b></span> -->
                    <span fxFlex="45" fxFlex.xs="100" class="font " style="text-align: end; margin-right: 10px;"><b>{{order.fecha | date }}</b></span>
          </div>
              <!-- <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="40" *ngFor="let mainProduct of order.product">

                      <img [src]="mainProduct._id.img" alt="" fxFlex="70" >
              </div> -->
      </div>

      <mat-accordion style="width: 97%;" >
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState" style="background-color: white;"  >
          <mat-expansion-panel-header>

            <mat-panel-title fxLayoutAlign="space-between center" class="font">
            
              <span style="color: rgb(164, 164, 164); font-size: 0.9em;">Detalle del pedido...</span>
                            
            </mat-panel-title>
      
          </mat-expansion-panel-header>

                  <div  fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100">

                  <div  fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" *ngFor="let description of order.detalleItems" class="mt-20">
                      <div  fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="100" >
                          <span class="font ">  {{description.cantidad}} &nbsp; x &nbsp;{{description.descripcion | capitalizeFirstLetter}}</span>
                          <span class="font "> <b>Cod.</b> {{description.codigoInterno}} </span>
                      </div>    
                      <span class="font  mt-10"> <b>Sub-Total:</b> $ {{description.importeNetoTotal | decimalRound}}</span>
                  </div>   
                      <span class="font  mt-10" style="text-align: end;" fxFlex="100"> <b>Total:</b> $ {{ calculateTotal(order.detalleItems) | decimalRound }} </span>
                  </div>    

                

        </mat-expansion-panel>
      </mat-accordion>
    </div>         
    <!-- end order -->

<ng-container *ngIf="phone">
    
  <div class="example-container mat-elevation-z8 font mt-30" fxFlex="97">
  
      <table mat-table [dataSource]="dataTableActive">
  
          <!-- img Column -->
          <ng-container matColumnDef="action"   >
              <th mat-header-cell *matHeaderCellDef style="padding: 0px;">Accion</th>
              <td mat-cell *matCellDef="let element" > 

                  <div style="width: 80%; display: flex;  justify-content: space-around;" >
                          <div class="icon" (click)="editOrder(element)">
                              <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);"> edit </span>
                          </div>
                          <div class="icon" (click)="deleteOrder(element)">
                              <span class="material-symbols-outlined notranslate cursor" style="color: red"> delete </span>
                          </div>
                  </div>

              </td>
          </ng-container>
              
          <!-- Name Column -->
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef > Id Pedido </th>
              <td mat-cell *matCellDef="let element" (click)="editOrder(element)"  > {{element.idPedido}} </td>
          </ng-container>
      
          <!-- Stock Column -->
          <ng-container matColumnDef="socialName" >
              <th mat-header-cell *matHeaderCellDef> Razon social </th>
              <td mat-cell *matCellDef="let element" (click)="editOrder(element)" > {{element.razonSocial}} </td>
          </ng-container>
      
          <!-- Price Column -->
          <ng-container matColumnDef="items" >
              <th mat-header-cell *matHeaderCellDef> Detalle </th>
              <td mat-cell *matCellDef="let element" (click)="editOrder(element)" > {{element.detalleItems.razonSocial}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

  <mat-paginator #paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [disabled]="disabled"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
  [hidePageSize]="hidePageSize"
  [pageIndex]="pageIndex"
  aria-label="Select page" style="margin-top: 30px;">
  </mat-paginator>

</ng-container>
  
<div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
  <mat-spinner diameter="80"></mat-spinner>
</div>

  
  
</div>
</div>