<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">

    <span fxLayoutAlign="center" class="font fs-6 mt-40"><b>Seleccioná el estado del pedido</b></span>

    <div  fxLayout="row wrap" fxLayoutAlign="start" class="mt-40 mb-40" >

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="24"  >
            <div class="icon" (click)="onSelect('EN PROCESO', $event)" >
                <span class="material-symbols-outlined notranslate" > build </span>
            </div>
            <span  class="text">En Proceso</span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="24" >
            <div class="icon" (click)="onSelect('ORDEN LISTA', $event)" >
                <span class="material-symbols-outlined notranslate"> done </span>
            </div>
            <span  class="text">Orden Lista</span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="24" >
            <div class="icon"  (click)="onSelect('ENTREGA DELIVERY', $event)">
                <span class="material-symbols-outlined notranslate"> local_shipping </span>
            </div>
            <span  class="text">Delivery</span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="24" >
            <div class="icon" (click)="onSelect('ENTREGA EN LOCAL', $event)" >
                <span class="material-symbols-outlined notranslate"> store </span>
            </div>
            <span  class="text">Entrega en Local</span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="24" (click)="onSelect('COMPLETADO', $event)">
            <div class="icon" >
                <span class="material-symbols-outlined notranslate"> pending_actions </span>
            </div>
            <span   class="text">Orden Completa</span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="24" (click)="onSelect('ELIMINADO', $event)">
            <div class="icon" >
                <span class="material-symbols-outlined notranslate"> delete </span>
            </div>
            <span  class="text">Eliminar</span>
        </div>
        
    </div>


        <!-- <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="20" (click)="onSelect('ORDEN LISTA')">
            <div  class="btn-green"></div>
            <span  fxLayoutAlign="center" fxFlex="100" class="font fs-5" >Orden Lista</span>
        </div> -->

        <!-- <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="20" (click)="onSelect('ENTREGA DELIVERY')">
            <div  class="btn-purple"></div>
            <span  fxLayoutAlign="center" fxFlex="100" class="font fs-5" >Delivery</span>
        </div> -->
        <!-- <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="20" (click)="onSelect('ENTREGA EN LOCAL')">
            <div  class="btn-orange"></div>
            <span  fxLayoutAlign="center" fxFlex="100" class="font fs-5">Entrega en Local</span>
        </div> -->

        <!-- <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="20" (click)="onSelect('COMPLETADO')">
            <div  class="btn-green"></div>
            <span  fxLayoutAlign="center" fxFlex="100" class="font fs-5" >Orden Completa</span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="20" (click)="onSelect('ELIMINADO')">
            <div  class="btn-purple"></div>
            <span  fxLayoutAlign="center" fxFlex="100" class="font fs-5" >Eliminar</span>
        </div> -->

    <!-- </div>     -->


</div>
