
.selection{
    border: 2px solid rgb(188, 210, 202);
    background-color: rgb(188, 210, 202);
    transition: all 0.2s ease 0s;
    margin-top: 2px;
}

.none{
    border: 2px solid rgb(188, 210, 202, 0);
    background-color: rgb(188, 210, 202, 0);
    margin-top: 2px;

}

span.cursor {
    cursor: default; /* Estilo de cursor predeterminado */
  }
  
  span.cursor:hover {
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
  }
  
  span.cursor:active {
    cursor: pointer; /* Cambio de cursor al hacer clic */
  }