<div  fxLayout="row wrap"  fxLayoutAlign="center center" style="height: 100%; ;background-color: rgb(241, 241, 241);">



        
    <!-- <form  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 25px; width: 100vw;" (ngSubmit)="buscar()" autocomplete="off" >
        <mat-form-field  appearance="outline" fxFlex="90" class="font fs-5" >
            <input type="text" matInput  placeholder="¿Que necesitas?"  name="itemSearch"
            class="form-control  me-2"    
            [(ngModel)]="itemSearch">  
            <mat-icon matSuffix style="transform:scale(1.7); color: red; margin-right: 20px;" (click)="Search( itemSearch)" >search</mat-icon>
        </mat-form-field>
    </form> -->
    
    

        
    <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="background-color: rgb(0, 30, 197); color: white;
    height: 100px;">
        <span class="font fs-4 t-center" fxFlex="50">CLIENTES</span>
        <span class="font fs-4 t-center" fxFlex="50">PRODUCTOS</span>
    </div>



    <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"  class="mt-130">     
            
          <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font fs-5" >		
              <mat-label>Fecha</mat-label>
              <input matInput type="text" required formControlName="date">
          </mat-form-field> 

          <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font fs-5" >		
            <mat-label>Fecha</mat-label>
            <input matInput type="text" required formControlName="date">
        </mat-form-field> 

        <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100">
           
            <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font fs-5" >		
                <mat-label>Cliente</mat-label>
                <input matInput type="text" formControlName="client" (click)="getClient()">
            </mat-form-field> 

            <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font fs-5" >		
                <mat-label>Razon Social</mat-label>
                <input matInput type="text" formControlName="comercialName">
            </mat-form-field> 
      

            <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font fs-5" >		
                <mat-label>% Dto</mat-label>
                <input matInput type="text" formControlName="discount">
            </mat-form-field> 
      
        </div>

        <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" style="margin-top: 30px;">
            <button mat-raised-button class="font fs-5" (click)="createOrder()">Crear Pedido</button>
        </div>

            
        </form>
    
    
 
</div>