
.whiteFrame{
    padding: 5px 0px 5px 0px;
    
    box-shadow: 0px 2px 5px 0px rgba(166, 166, 166, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(166, 166, 166,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(166, 166, 166,0.75);
}

.days > div {
    font-size: 1.6em;
    font-family: 'poppins-light'; 
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    padding: 5px;
}

.itemSelected{
    border: 0.3px solid green;
    border-radius: 100px; 
    color: green;
    font-weight: 400;
   
}

.blur{
    background-color: #ffffff10;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(12px);
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
}

//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
    .days > div {
        font-size: 1.3em;
        width: 28px;
        height: 28px;
        padding: 5px;
    }

    .days > div {
        font-size: 1.3em;
    }
}

