
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="pd-10 ">
  
    <button  mat-mini-fab  style="background-color: green; height: 140px; width: 140px; margin-top: 40px;">
        <mat-icon class="material-symbols-outlined notranslate" style="transform: scale(4);"> front_hand </mat-icon>
   </button>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" class="pd-10 mb-30 mt-40" >
    <span class="font fs-7" fxFlex="100" style="line-height: 1.5em;"> <b>  {{msg}} </b> </span>        
    <span class="font fs-4" fxFlex="100" style="margin-top: 20px; text-align: center;"> Volvé pronto! </span>        
</div>


</div>
