<div  fxLayout="row wrap"  fxLayoutAlign="center start" style="height: 100%; background-color: rgb(241, 241, 241);">

    <div  fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="height: 80px;background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" >
       
        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="margin-top: 5px;" routerLink="/home">
                <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span>
                <span class="font fs-5" fxFlex="90">Listas de precios</span>
        </div>
   
    </div>

    <div fxLayout="row wrap"  fxLayoutAlign="start center" style="margin-top: 30px; background-color: white; height: 60px;" fxFlex="97" class="whiteframe">
        <span class="font fs-5">Selecciona la lista de precios. </span>
    </div>
    

    <div  fxLayout="row wrap"  fxLayoutAlign="center start" FxFlex="100" style="background-color: rgb(241, 241, 241); margin-top: 40px;" *ngIf="arrList.length !== 0" >
        
        <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="margin-bottom: 30px;  padding: 10px; background-color: white;" fxFlex="97" class="whiteframe" *ngFor="let list of arrList" (click)="selectList(list.id)">
    
            <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="background-color: rgb(37, 150, 190); color: white; height: 30px; padding: 5px;">
                <span  class="font fs-5" fxFlex="50" > Código: {{list.id }} </span>
                <span  class="font fs-5" fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="50" > Estado: {{list.activa}} </span>
          
              </div>
       
            <span  class="font fs-5 mt-20" fxFlex="80" > {{list.nombreLista| capitalizeFirstLetter }}</span>
            <div class="icon mt-20" >
                <span class="material-symbols-outlined notranslate fc-green" *ngIf="list.activa ==1" >done</span> 
                <span class="material-symbols-outlined notranslate fc-red" *ngIf="list.activa == 0">close</span> 

            </div>

            
            
            
            
        </div>
    </div>
    
 </div>

