

<div fxLayout="row wrap" fxLayoutAlign="center space-between" fxFlex="100" class="backLogin" style="overflow-y: auto; height: 100%; background-color: rgb(252, 252, 252);">

  <!-- <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span> -->

  <div  fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="height: 60px;background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" >
       
        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="margin-top: 5px;" routerLink="/home">
                <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span>
                <span class="font fs-5" fxFlex="90">Inicio</span>
        </div>
   
    </div>

        <!-- <img src="assets/logo-header.png" alt="" fxFlex="40" class="mt-20"> -->
        
        <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"  class="mt-50">     
            
          <mat-form-field appearance="outline"  fxFlex="90" class="mt-10 font fs-5" >		
              <mat-label>Usuario</mat-label>
              <input matInput type="email" required formControlName="user">
          </mat-form-field> 
          <mat-error *ngIf ="validField ('user')" fxLayoutAlign="start" fxFlex="85" class="font fs-4 mb-10"> Campo requerido </mat-error> 


          <mat-form-field appearance="outline" fxFlex="90" class="mt-10 font fs-5">		
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'"  required formControlName="password" >
            <button mat-icon-button  (click)="togglePasswordVisibility('password')" >
              <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field> 

          <mat-error *ngIf="validField('password')" fxLayoutAlign="start" fxFlex="85" class="font fs-4 mb-10">
            Campo requerido
          </mat-error>
            
          
            <div fxLayout="row wrap" fxLayoutAlign="center"  fxFlex="90">
                <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100" >
                    <mat-label  class="font fs-3" style="margin-right:0px;"> <b>Recordarme</b></mat-label> &nbsp;
                    <mat-slide-toggle formControlName="toLStorage" [checked]="true" ></mat-slide-toggle>
                </div>
                <span type="button" class="font fs-3 mt-10" style="cursor: pointer; align-items: start; color: blue;" fxFlex="100"><b > ¿Olvidaste tu contraseña?</b> </span>
            </div>
            
        </form>

        <button type="button" fxLayout="row wrap" fxLayoutAlign="center center" class="btnLogin font fs-5 mt-40" fxFlex="90"  (click)="onSaveForm()">  Ingresar</button>
        
   

    <!-- save button -->
    <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="90" style="margin-bottom: 60px;">
    
        <div  fxLayout="row wrap"  fxLayoutAlign="start" fxFlex="95"  style="margin-top: 15px" >
        <p class="font fs-4"> ¿No tenes una cuenta?<b style="color: rgb(255, 0, 85); cursor: pointer;" routerLink="../register" > &nbsp; Ingresa acá</b></p>
        </div>    
    
  </div>
  <!-- end save button -->
  <img src="assets/logo.jpg" alt="" fxFlex="90" style="margin-bottom: 30px;">

</div>
  
  
  
  
  
