

<div fxLayout="row wrap" fxLayoutAlign="center space-between" fxFlex="100" class="backLogin" style="overflow-y: auto; height: 100vh;">

    <!-- start header -->
    <div fxLayout="row wrap"  fxLayoutAlign="space-between center" class="header" #top >
      
        <div fxLayout="row wrap"  fxLayoutAlign="start"  fxFlex="10" >
           <button mat-mini-fab  alabel="Example icon button with a delete icon"  style="background-color: #f3b304;" (click)="goBack()" >
            <mat-icon style="transform: scale(0.9); color: white;">arrow_back_ios_new</mat-icon>
          </button>
        </div>
        
        <span class="fs-5" fxLayoutAlign="center center"  fxFlex="80">Ingresa</span>
        
        <div fxFlex="5"></div>
    </div>  
    <!-- end header -->

        <!-- <img src="assets/logo-header.png" alt="" fxFlex="40" class="mt-20"> -->
        
        <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"  class="mt-130">     
            
          <mat-form-field appearance="outline"  fxFlex="90" class="mt-10 font fs-5" >		
              <mat-label>Usuario</mat-label>
              <input matInput type="email" required formControlName="user">
          </mat-form-field> 
          <mat-error *ngIf ="validField ('user')" fxLayoutAlign="start" fxFlex="85" class="font fs-4 mb-10"> Campo requerido </mat-error> 


          <mat-form-field appearance="outline" fxFlex="90" class="mt-10 font fs-5">		
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'"  required formControlName="password" >
            <button mat-icon-button  (click)="togglePasswordVisibility('password')" >
              <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field> 

          <mat-error *ngIf="validField('password')" fxLayoutAlign="start" fxFlex="85" class="font fs-4 mb-10">
            Campo requerido
          </mat-error>
            
          
            <div fxLayout="row wrap" fxLayoutAlign="center"  fxFlex="90">
                <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100" >
                    <mat-label  class="font fs-3" style="margin-right:0px;"> <b>Recordarme</b></mat-label> &nbsp;
                    <mat-slide-toggle formControlName="toLStorage" [checked]="true" ></mat-slide-toggle>
                </div>
                <span type="button" class="font fs-3 mt-10" style="cursor: pointer; align-items: start; color: blue;" fxFlex="100"><b > ¿Olvidaste tu contraseña?</b> </span>
            </div>
            
        </form>

        <button type="button" fxLayout="row wrap" fxLayoutAlign="center center" class="btnLogin font fs-4 mt-40" fxFlex="90"  (click)="onSaveForm()">  Ingresar</button>
        
   

    <!-- save button -->
    <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="90" style="margin-bottom: 60px;">
    
        <div  fxLayout="row wrap"  fxLayoutAlign="start" fxFlex="95"  style="margin-top: 15px" >
        <p class="font fs-4"> ¿No tenes una cuenta?<b style="color: red; cursor: pointer;" routerLink="../register" > &nbsp; Ingresa acá</b></p>
        </div>    
    
  </div>
  <!-- end save button -->

</div>
  
  
  
  
  
