

  .example-container {
    width: 100%;
    height: calc(100vh - 300px);
    overflow: auto;
    font-size: 1.8em;
    font-family: 'poppins-light'; 
  }

  
  table {
    width: 800px;
    font-size: 0.8em;
    font-family: 'poppins-light'; 
  }

  
.mat-column-img {
    width: 5%;
    cursor: pointer;
    text-align: center;
 
}

//  este es la segunda columna es de donde se mueve es la "position"
th.mat-column-name, td.mat-column-name {
    padding-left: 8px;
    width: 20%;
    cursor: pointer;
    text-align: start;
  }

.mat-column-price {
    width: 10%;
    cursor: pointer;
    text-align: start;
}

.mat-column-comment {
    width: 20%;
    cursor: pointer;
    text-align: start start;
    padding: 3px;

}
  // este es el "end o "star" de ejemplo
.mat-column-ingredients {
    width: 20%;
    cursor: pointer;
    text-align: start start;
}


img{
    width: 70px;
    cursor: pointer;
}

.non-class{
  opacity: 0;
}

.fastFoodIcon, .loadingIcon {
  animation: opaco 1.2s ease-in-out forwards;
  animation-iteration-count: 20; 
  color: rgb(176, 176, 176);
}

.fastFoodIcon {
  font-size: 250px;
}
.loadingIcon{
  font-size: 1.3em;
  font-family: 'poppins-light';
}

@keyframes opaco {
  0% {
  opacity:1;
  }
  45% {
  opacity:0.9;
  }
  55% {
  opacity:0.8;
  }
  100% {
  opacity: 0.1;
 }

}

.grayLayer{
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
}

.vanishSelection {
  -webkit-animation: opaco 1s;  
}

.btnMenu{
  border: 1px solid #f3b304;
}
