
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" *ngIf="isLoading; else divLoading">
<span #top></span>
<!-- start how edit -->
<mat-accordion  fxFlex="100" class="mt-20">
<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState"  style="
border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;;

box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
-webkit-box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
-moz-box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);

" >
    <mat-expansion-panel-header >
    <mat-panel-title>
        <span style="color: rgba(197, 196, 196, 0.9);"> como debo editar?  </span>
        </mat-panel-title>


    </mat-expansion-panel-header>
    
    <div  fxLayout="row wrap"  fxLayoutAlign="start center"  fxFlex="100">
    
    <img src="assets/menu-edit-mobile.png" alt="explicacion menu" fxFlex="100">
</div>


</mat-expansion-panel>
</mat-accordion> 
<!-- end how edit -->

<!-- start menu staff -->
<span class="font fs-7 ml-10 mt-40" fxFlex="100">Ediciones </span>
<app-slider-option-item fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="mt-20" ></app-slider-option-item>
<!-- end menu staff -->
    
<!-- nuestro menu -->
<span class="font fs-7 ml-10 mt-40" fxFlex="100">Lista de productos</span>
<div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-bottom: 30px;" > 
    
        <carousel [cellWidth]="'100%'" [cellsToShow]="2.2"  [height]= "200" [arrows]=false>
        
            <div class="carousel-cell"> 
                <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"> 
                  <img src="assets/menu-burger2.png" alt="menu logo-hamburger" (click)="menuClicked('burger')" fxFlex="100">
                  <div style="border: 2px solid green;" fxFlex="96" [ngClass]="burger ? 'vanishSelection':' non-class'"></div>
                </div>
            </div>
    
            <div class="carousel-cell"> 
                <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"> 
                    <img src="assets/menu-drink.png" alt="menu logo-bebidas" (click)="menuClicked('drink')" fxFlex="100">
                    <div style="border: 2px solid green;" fxFlex="96" [ngClass]="drink ? 'vanishSelection':' non-class'"></div>
                </div>
            </div>
    
            <div class="carousel-cell"> 
                <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"> 
                  <img src="assets/menu-fries.png" alt="menu logo-papas" (click)="menuClicked('fries')" fxFlex="100">
                  <div style="border: 2px solid green;" fxFlex="96" [ngClass]="fries ? 'vanishSelection':' non-class'"></div>
                </div>
            </div>
    
            <div class="carousel-cell"> 
                <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"> 
                    <img src="assets/menu-pizza.png" alt="menu logo-pizza" (click)="menuClicked('pizza')" fxFlex="100">
                    <div style="border: 2px solid green;" fxFlex="96" [ngClass]="pizza ? 'vanishSelection':' non-class'"></div>
                </div>
            </div>
          
            <div class="carousel-cell" > 
                <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"> 
                    <img src="assets/menu-vegan.png" alt="menu logo-saludable" (click)="menuClicked('vegan')" fxFlex="100">
                    <div style="border: 2px solid green;" fxFlex="96" [ngClass]="vegan ? 'vanishSelection':' non-class'"></div>
                </div>
            </div>
    
            <div class="carousel-cell" > 
                <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100"> 
                    <img src="assets/menu-healthy.png" alt="menu logo-saludable" (click)="menuClicked('healthy')" fxFlex="100">
                    <div style="border: 2px solid green;" fxFlex="96" [ngClass]="healthy ? 'vanishSelection':' non-class'"></div>
                </div>
            </div>
     
    
        </carousel>
</div>
<!-- end nuestro menu -->
    
<div #menu></div>

<!-- start products -->
<div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" >
    <!-- <span class="font fs-2 ml-10 f-gray" fxFlex="50">(Selecciona un item para editar)</span> -->
    <span ><i class="material-symbols-outlined notranslate" style="color: gray; margin-right: 15px;" >swipe_left</i></span>
</div>
<div class="example-container mat-elevation-z8 font">
    
    <table mat-table [dataSource]="dataTableActive">

        <!-- img Column -->
        <ng-container matColumnDef="img" sticky  >
            <th mat-header-cell *matHeaderCellDef > <span style="margin-right: 20px;"> Imagen</span> </th>
            <td mat-cell *matCellDef="let element" (click)="editItem(element)" > <img [src]="element.img" [ngClass]="{ 'grayLayer': !element.stock || !element.category.state || element.paused }" style=" margin-right: 20px;"> </td>
        </ng-container>
            
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef > Nombre </th>
            <td mat-cell *matCellDef="let element" (click)="editItem(element)" > {{element.name}} </td>
        </ng-container>
    
        <!-- Stock Column -->
        <ng-container matColumnDef="stock" >
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element" (click)="editItem(element)" > {{element.stockQuantity}} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price" >
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element" (click)="editItem(element)" > {{element.price | rounds}} </td>
        </ng-container>

        <!-- Comment Column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comentarios </th>
            <td mat-cell *matCellDef="let element" (click)="editItem(element)" style="font-size: 0.6em;"> <span style="text-align: start;"> {{element.comment}} </span> </td>
        </ng-container>

        <!-- Ingredients Column -->
        <ng-container matColumnDef="ingredients" >
            <th mat-header-cell *matHeaderCellDef > Ingredientes </th>
            <td mat-cell *matCellDef="let element" (click)="editItem(element)" style="font-size: 0.6em;" > <span style="text-align: start;">  {{element.ingredients}} </span> </td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<!-- start products -->

</div>

<ng-template  #divLoading  >

    <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-bottom: 30px; margin-top: 40px;"> 
        <span class="material-symbols-outlined notranslate fastFoodIcon" fxFlex="100" style="text-align: center;">
            fastfood
        </span>
        <span class="loadingIcon">cargando...</span>
    </div>
</ng-template>