<div fxLayout="row wrap" fxLayoutAlign="center space-between" fxFlex="100" *ngIf="isLoading; else divCartel">

    <!-- start header -->
    <div fxLayout="row wrap"  fxLayoutAlign="space-between center" class="header" #top >
        
        <div fxLayout="row wrap"  fxLayoutAlign="start"  fxFlex="10" >
           <button mat-mini-fab  alabel="Example icon button with a delete icon"  style="background-color: #f3b304;" (click)="goBack()" >
            <mat-icon style="transform: scale(0.9); color: white;">arrow_back_ios_new</mat-icon>
          </button>
        </div>
        
        <span class="fs-4" fxLayoutAlign="center center"  fxFlex="80">Ordenes historicas</span>
        
        <div fxFlex="5"></div>
    </div>  
    <!-- end header -->
  
  <!-- el div solo lo uso para mantener el margin top NO BORRAR  -->
  <div style="margin-top: 50px;" fxFlex="100"> </div> 
  
  <!-- start order -->
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="95" *ngFor="let order of orders" class="mb-20" >
          
          <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" fxFlex="100" class="shadow">
              
              <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" fxFlex="100" class="mt-20 font fs-4"  >
                  
                <div fxLayout="row wrap"fxLayoutAlign="start" fxFlex="50"> 
                        <span  class="fs-3" style="color: gray;"> {{order.createdAt | date:'medium'}}</span>
                </div>
                    <div fxLayoutAlign="end" fxFlex="50"  > 
                        <span *ngFor="let status of order.statusOrder, last as isLast" > <b *ngIf="isLast"> {{status.status}} </b>  </span> 
                  </div>
              </div>    
  
            
          </div>

      <mat-accordion  fxFlex="100" >
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState" style="
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;;
        
        box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
        -webkit-box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
        -moz-box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);

        " >
          <mat-expansion-panel-header >
            
            <mat-panel-description fxLayoutAlign="end" style="color: gray;">
            
                  <mat-icon class="material-symbols-outlined notranslate" >shopping_bag</mat-icon>
            </mat-panel-description>
  
          </mat-expansion-panel-header>
  
            <div  fxLayout="row wrap"  fxLayoutAlign="center" fxFlex="100">
              <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" fxFlex="100" class="mt-20"  *ngFor="let product of order.order"  >

                <div  fxLayout="row wrap"  fxLayoutAlign="start " fxFlex="60" >
                      <span fxFlex="90"  class="font fs-5 mt-10" *ngFor="let mainProduct of product.product" ><b> {{mainProduct._id.name}} </b> <br>{{mainProduct.quantity}} x ${{mainProduct._id.price | rounds}}</span>

                      <span class="font mt-10" fxFlex="100" ><b>Bebidas:</b></span>
                      <span  class="font" fxFlex="100" *ngFor="let drink of product.drink"> 
                          {{drink._id.name}} {{drink.quantity}} x  ${{drink._id.price | rounds}} 
                      </span> 

                      <span  class="font" fxFlex="100" *ngFor="let fries of product.fries"> 
                        {{fries._id.name}} {{fries.quantity}} x  ${{fries._id.price | rounds}} 
                      </span> 
              </div>
              <div  fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="40" *ngFor="let mainProduct of product.product">
                      <img [src]="mainProduct._id.img" alt="" fxFlex="70" >
              </div>
            </div>
  
  
            
                <span class="mt-45 font" fxFlex="100"> <b>Direccion de delivery: </b> {{order.addressDelivery}}</span><br>
  
            <div  fxLayout="row wrap"  fxLayoutAlign="space-between" fxFlex="100"  class="font mt-25 mb-20" >
                <span  class="fs-5 bebasFont"  style="color: rgb(50, 50, 50);"><b>Total </b></span> 
                <span  class="fs-5 bebasFont"  style="color: rgb(50, 50, 50);"><b> $ {{order.total | rounds}} </b></span>
            </div>
          </div>
  
        </mat-expansion-panel>
      </mat-accordion>
</div>  
  <!-- end order -->
  
  <div fxLayout="row wrap" fxLayoutAlign="center space-between" fxFlex="100" class="mt-40" *ngIf="orders.length === 0">
    <span fxFlex="98" class="font fs-6"> No se encontraron órdenes de compras vinculadas al usuario. </span>
    <span fxFlex="98" class="font fs-3 mt-20"> (Solo se muestran las ordenes completadas). </span>
    <span fxFlex="98" class="font mt-10 fs-4">  <b style="color: blue; cursor: pointer; font-size: 1em;" (click)="goBack()">Volver al dashboard.</b> </span>

  </div>
</div>
  
  <ng-template #divCartel>
    <div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-bottom: 30px; margin-top: 40px;"> 
      <span class="material-symbols-outlined notranslate fastFoodIcon" fxFlex="100" style="text-align: center;">
          fastfood
      </span>
      <span class="loadingIcon">cargando...</span>
  </div>
  
  </ng-template>