
<div  fxLayout="row wrap"  fxLayoutAlign="center start" fxFlex="100" style="background-color: rgb(241, 241, 241);">

    <div  fxLayout="row wrap"  fxLayoutAlign="space-around space-between" fxFlex="100" style="background-color: rgb(37, 150, 190); color: white; height: 130px; padding: 10px;">

        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="margin-top: 5px;" (click)="goBack()">
            <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span>
            <span class="font fs-5" fxFlex="90">Buscar Productos</span>
      </div>
    
    </div> 

        <mat-form-field  appearance="outline" fxFlex="90" class="font fs-5 mt-30" >
            <input type="text" matInput  placeholder="Buscar productos"  name="itemSearch" [(ngModel)]="itemSearch"(input)="teclaPresionada( )" 
            (onDebounce)="sugerencias( itemSearch )" 
            (keyup.enter)="Search( itemSearch )" 
>  
            <mat-icon matSuffix style="transform:scale(1.7); color: rgb(188, 210, 202) ; margin-right: 20px;" (click)="Search( itemSearch)" >search</mat-icon>
        </mat-form-field>

    <!-- start sugested  -->

    <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="background-color: rgb(243, 243, 255); margin-bottom: 30px;  padding: 20px 0px 10px 20px; margin-top: 20px;" fxFlex="96" *ngFor="let article of suggested" class="whiteframe" >
        
        <span  class="font fs-5" fxFlex="49" > Código: {{article.codigoArticulo }} </span>
        <span  class="font fs-5 mr-5" fxFlex="49" fxLayoutAlign="end"> Estado: {{article.activo | productStatus }}</span>

        <span  class="font fs-5 mt-20" fxFlex="100" > {{article.descripcionLarga | capitalizeFirstLetter }}</span>

        <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="97" style="margin-top: 20px;">
                
                <button mat-raised-button class="font fs-5" style="line-height: 40px; background-color:rgb(188, 210, 202); color: white;" (click)="fastSelect(article)"> Seleccionar 1 unidad</button>

            <div  style="width: 50px; height: 50px; border-radius: 50%; background-color: rgb(188, 210, 202);" class="whiteframe" (click)="openDialogArticle(article)">
                <i class="material-symbols-outlined notranslate" fxLayoutAlign="center center" fxFlex="100" style="transform: scale(1.3); color: white;">add</i>
            </div> 
        </div>
            
   </div>
    <!-- end sugested  -->

    <!-- start cards -->
    <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="background-color: rgb(243, 243, 255); margin-bottom: 30px;  padding: 20px 0px 10px 20px; margin-top: 20px;" fxFlex="96" *ngFor="let article of arrArticles" class="whiteframe" >
        
        <span  class="font fs-5" fxFlex="49" > Código: {{article.codigoArticulo }} </span>
        <span  class="font fs-5 mr-5" fxFlex="49" fxLayoutAlign="end"> Estado: {{article.activo | productStatus }}</span>

        <span  class="font fs-5 mt-20" fxFlex="100" > {{article.descripcionLarga | capitalizeFirstLetter }}</span>

        <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="97" style="margin-top: 20px;">
                
                <button mat-raised-button class="font fs-5" style="line-height: 40px; background-color:rgb(188, 210, 202); color: white;" (click)="fastSelect(article)"> Seleccionar 1 unidad</button>

            <div  style="width: 50px; height: 50px; border-radius: 50%; background-color: rgb(188, 210, 202);" class="whiteframe" (click)="openDialogArticle(article)">
                <i class="material-symbols-outlined notranslate" fxLayoutAlign="center center" fxFlex="100" style="transform: scale(1.3); color: white;">add</i>
            </div> 
        </div>
            
   </div>
    <!-- end cards -->

    
    <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100" *ngIf="labelNoArticles">
        <span  class="font fs-5" style="margin-left: 10px; margin-top: 30px;" fxFlex="100"> No se encontraron coincidencias... </span>
    </div>
</div> 
