
<div  fxLayout="row wrap"  fxLayoutAlign="center start" style="height: 100%; background-color: rgb(241, 241, 241);">

    <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="height: 80px;background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" >
       
        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="margin-top: 5px;" routerLink="/home">
                <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span>
                <span class="font fs-5" fxFlex="90">Pedidos Abiertos</span>
        </div>
     
    </div>



   <div  fxLayout="row wrap"  fxLayoutAlign="center start" FxFlex="100" style="background-color: rgb(241, 241, 241); margin-top: 40px;" *ngIf="tempOrder.length !== 0">
        
    <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="background-color: rgb(243, 243, 255); margin-bottom: 30px;  padding: 10px" fxFlex="97" class="whiteframe" *ngFor="let article of tempOrder">

        <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="background-color: rgb(37, 150, 190); color: white; height: 30px; padding: 5px;">
            <span  class="font fs-5" fxFlex="40" > Código: {{article.idAgenda }} </span>
            <span  class="font fs-4" fxFlex="60" style="text-align: end;"> Pendiente de envio </span>
      
          </div>
   
        <span  class="font fs-5 mt-20" fxFlex="100" > {{article.fullName| capitalizeFirstLetter }}</span>
        <span  class="font fs-5 mt-20" fxFlex="100" > Cuit: {{article.cuit }}</span>
        <span  class="font fs-5 mt-20" fxFlex="100" > Fecha: {{article.date }}</span>
        <span  class="font fs-5 mt-20" fxFlex="100" > <b>Total:</b> ${{article.total }}</span>

            
        <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" class="mt-20">
            <div class="icon mr-10" (click)="deleteItem(article.idTempOrder)" >
                <span class="material-symbols-outlined notranslate" style="color: red;"> delete </span>
            </div>

            <div class="icon" >
                <span class="material-symbols-outlined notranslate" style="color: rgb(255, 176, 57);"> edit </span>
            </div>

            <div class="icon" >
                <span class="material-symbols-outlined notranslate" style="color: rgb(23, 178, 2);"> send </span>
            </div>
        </div>

    </div>
  
   </div>

   <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="97" class="mt-5 whiteframe" *ngIf="tempOrder.length === 0" style="margin-top: 50%;">
    <span class="material-symbols-outlined no-translate fc-green">done</span> &nbsp;
    <span class="font fs-5 ml-20" fxFlex="80"> Sin pedidos abiertos... </span>
    <span routerLink="./home" class="font fs-5 mt-10" style="color: blue; text-decoration: underline; text-align: start; margin-left: 60px;" fxFlex="100">Ir al inicio</span>
</div>  


</div>
