
<div  fxLayout="row wrap"  fxLayoutAlign="center start" fxFlex="100">

<!-- start cards -->
   <div  fxLayout="row wrap"  fxLayoutAlign="center start" fxFlex="100" style="margin-top: 40px;" *ngIf="tempOrder.length !== 0">
        
        <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  style="background-color: rgb(243, 243, 255); margin-bottom: 30px;  padding: 10px"  fxFlex.xs="95" fxFlex.sm="95" fxFlex="75" class="whiteframe" *ngFor="let order of tempOrder">

            <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="background-color: rgb(37, 150, 190); color: white; height: 30px; padding: 5px;">
                <span  class="font fs-5" fxFlex="60" >Comp. Nro: {{order.cbteNro  }} </span>
                <span  class="font fs-4" fxFlex="40" style="text-align: end;"> Abierto </span>
        
            </div>
    
            <span  class="font fs-5 mt-20" fxFlex="100" > {{order.archivarComo| capitalizeFirstLetter }}</span>
            <span  class="font fs-5 mt-20" fxFlex="100" > Fecha: {{order.fecha | date }}</span>
            <span  class="font fs-5 mt-20" fxFlex="100" > <b>Total:</b> $ {{order.impTotal | decimalRound }}</span>

                
            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" class="mt-20">
                <div class="icon mr-10" (click)="deleteOrder(order)" >
                    <span class="material-symbols-outlined notranslate cursor" style="color: red;"> delete </span>
                </div>

                <div class="icon mr-10" >
                    <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);" (click)="editOrder(order)"> edit </span>
                </div>

                <div class="icon" >
                    <span class="material-symbols-outlined notranslate cursor" style="color: rgb(23, 178, 2);" (click)="sendOrder(order)"> send </span>
                </div>
            </div>

        </div>
    
   </div>

   <!-- end cards -->

   <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="95" class="mt-5 whiteframe background-white" *ngIf="tempOrder.length === 0" style="margin-top: 50%;">
    <span class="material-symbols-outlined no-translate fc-green">done</span> &nbsp;
    <span class="font fs-5 ml-20" fxFlex="80"> Sin pedidos abiertos... </span>
    <span routerLink="./home" class="font fs-5 mt-10" style="color: blue; text-decoration: underline; text-align: start; margin-left: 60px;" fxFlex="100">Ir al inicio</span>
</div>  


</div>

<div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
  
    
