
<div  fxLayout="row wrap"  fxLayoutAlign="center start" style="height: 100%; position: relative;">

    <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="height: 60px; background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" >
       
        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="50" style="margin-top: 5px;" routerLink="/home">
                <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span>
                <span class="font" fxFlex="90">Listado de clientes</span>
        </div>

        <div fxLayout="row wrap"  fxLayoutAlign="end center"  fxFlex="50">

                <button  mat-mini-fab color="custom-color" aria-label="Example icon button with a delete icon" (click)="accordion.openAll(); visibility()" style="margin-right: 15px;">
                    <mat-icon class="material-symbols-outlined notranslate" [matBadge]="alert" matBadgeColor="warn" [matBadgeHidden]="hidden">notifications</mat-icon>
                </button>

                <button  mat-mini-fab color="custom-color" aria-label="Example icon button with a delete icon" *ngIf="login" [matMenuTriggerFor]="menu" style="margin-right: 15px;">
                        <span class="material-icons" style="transform: scale(1.2);">account_circle</span>
                </button>

                <button  mat-mini-fab color="custom-color" aria-label="Example icon button with a delete icon" routerLink="/login" *ngIf="!login" style="margin-right: 15px;">
                    <span class="material-icons" style="transform: scale(1.2);">login</span>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span class="font" (click)="logout()" style="cursor: pointer;">Logout</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span class="font">Cuenta</span>
                  </button>
              </mat-menu>

                

             
       </div>
   
    </div>

    <!-- start accordion -->
    <div fxLayout="row wrap"  fxLayoutAlign="end center"  fxFlex="100"  >
        <mat-accordion class="example-headers-align" multi [ngStyle]="(toogle) ? {'visibility':'visible'}:{'visibility':'hidden'}" >
            <mat-expansion-panel >
        
                <div [ngStyle]="(toogle) ? {'display':'block'}:{'display':'none'}" style="margin-top: 40px;" >
                    <div fxLayout="row wrap" *ngIf="!showLabelTempOrder" fxFlex="100" class="mt-5 whiteframe mt-40 mb-40 background-white">
                            <span class="material-icons no-translate fc-green">done</span> &nbsp;
                            <span class="font  ml-20" fxFlex="80"> Sin notificaciones </span>
                            <mat-form-field>
                                <mat-label>Toppings</mat-label>
                                <mat-select [formControl]="toppings" multiple>
                                <mat-select-trigger>
                                    {{toppings.value?.[0] || ''}}
                                    <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                                    (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>  
                    
                    <div fxLayout="row wrap" *ngIf="showLabelTempOrder" fxFlex="100" class="mt-5 whiteframe mt-40 mb-40" >
                            <i class="material-symbols-outlined notranslate fc-red" style="font-size: 38px;">error</i> &nbsp;
                            <span class="font  ml-10" fxFlex="80" style="line-height: 25px;"> Existen pedidos que no han sido enviados!</span>
                            <span class="font  mt-5" style="color: blue; cursor: pointer; margin-left: 51px;" fxFlex="100" > <b (click)="accordion.openAll(); visibility()" routerLink="/pedidos-temporales" >Resolver</b></span>
                    </div>   
                </div>

            </mat-expansion-panel>
        
        </mat-accordion>
    </div>
    <!-- end accordion -->

    <form  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 25px;" fxFlex.xs="100" fxFlex="40"  autocomplete="off" >
        <mat-form-field  appearance="outline" fxFlex="90" class="font" >
            <input type="text" matInput  placeholder="Buscar Cliente"  name="itemSearch"
            class="form-control  me-2"    
            [(ngModel)]="itemSearch"
            (input)="teclaPresionada( )" 
            (onDebounce)="sugerencias( itemSearch )" 
            (keyup.enter)="Search( itemSearch )" >
            <mat-icon matSuffix style="transform:scale(1.7); color: rgb(37, 150, 190); margin-right: 20px;" (click)="Search( itemSearch)" >search</mat-icon>
        </mat-form-field>
    </form> 

    <!-- start suggested    -->
    <div fxLayout="row wrap"  fxLayoutAlign.xs="start center" fxLayoutAlign="center center"  fxFlex="100" *ngIf="mostrarSugerencias" style="padding: 20px;" >

        <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex.xs="100" fxFlex="37" class="font whiteframe" style="margin-left: 0px;" >
            <a > Buscar:   {{ itemSearch }}</a>
            <mat-icon (click)="close()" style="cursor: pointer; margin-right: 10px; transform: scale(1.2);" > close</mat-icon>
        </div>
            
        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100" *ngIf="spinner" style="margin-top: 30px;">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
                    
        <div fxLayout="row wrap"  fxLayoutAlign.xs="start center"  fxLayoutAlign="center center" fxFlex="100" class="font " *ngFor="let item of suggested , index as i" >
            
            <div fxFlex="30"></div>
            <div fxLayout="row wrap" fxFlex="37">
                <a  style="cursor: pointer; margin-top: 10px; text-align: start; color: blue; text-decoration: underline;" (click)="searchSuggested( item.id )" fxFlex="100">
                {{ item.archivarComo | capitalizeFirstLetter}}
                </a>
            </div>
            <div fxFlex="30"></div>

        </div>
    </div>
    <!-- end suggested    -->

    <!-- start select buttons -->
    <div fxLayout="row wrap" fxLayoutAlign.xs="center center"  fxLayoutAlign="end center" fxFlex="100" >

        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="48" fxFlex="10" >
            <div class="mainIcon"  >
                <span class="material-symbols-outlined notranslate"> refresh </span>
            </div>
            <span class="font mt-10" fxFlex="100" style="text-align: center;">Pto de Venta </span>
        </div>  

        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="48" fxFlex="10" >
            <div class="mainIcon"  >
                <span class="material-symbols-outlined notranslate"> edit </span>
            </div>
            <span class="font mt-10" fxFlex="100" style="text-align: center;">Otra busqueda</span>
        </div>  

        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex.xs="48" fxFlex="10" >
            <div class="mainIcon" (click)="addClient()" >
                <span class="material-symbols-outlined notranslate"> add </span>
            </div>
            <span class="font mt-10" fxFlex="100" style="text-align: center;">Agregar </span>
        </div>  
      
    </div>
    <!-- end select buttons -->

    <!-- start result search cards -->
    <div  fxLayout="row wrap"  fxLayoutAlign="center start"  fxFlex="100" style="margin-top: 40px;" *ngIf="isClientFounded">
        <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="margin-bottom: 30px;  padding: 10px; background-color: white;" fxFlex="97" class="whiteframe" >

            <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="background-color: rgb(37, 150, 190); color: white; height: 30px; padding: 5px;">
                <span  class="font" fxFlex="50" > Código: {{clientFounded.idAgenda }} </span>
                <span  class="font" fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="50" > Estado: {{clientFounded.esCliente}} </span>
        
            </div>
    
            <span  class="font mt-20" fxFlex="100" > {{clientFounded.archivarComo| capitalizeFirstLetter }}</span>
            <span  class="font mt-20" fxFlex="50" > Cuit: {{clientFounded.cuit || 'sin definir' }}</span>
            <span  class="font mt-20" style="text-align: end;" fxFlex="50" > Tel: {{clientFounded.telefonoCodigoArea}} {{clientFounded.numeroLocal || 'sin definir' }}</span>

            <span  class="font mt-20 " fxFlex="100" > Localidad: {{clientFounded.localidad || 'sin definir' }}</span>
            
            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
                <div class="icon mr-10" (click)="deleteClient(clientFounded)" >
                    <span class="material-symbols-outlined notranslate cursor" style="color: red;"> delete </span>
                </div>
                
                <div class="icon mr-10"  (click)="editClient(clientFounded)">
                    <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);"> edit </span>
                </div>

                <div class="icon"  (click)="close()">
                    <span class="material-symbols-outlined notranslate cursor" > close </span>
                </div>
            </div>
            
        </div>
    
    </div>
    <!-- end result search cards -->

    <ng-container *ngIf="phone">
        <!-- start cards -->
        <div  fxLayout="row wrap"  fxLayoutAlign="center start" FxFlex="100" style="background-color: rgb(241, 241, 241); margin-top: 40px;" *ngIf="contactos.length !== 0">
                    
                <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="margin-bottom: 30px;  padding: 10px; background-color: white;" fxFlex="97" class="whiteframe" *ngFor="let client of contactos">

                    <div  fxLayout="row wrap"  fxLayoutAlign="space-around center" fxFlex="100" style="background-color: rgb(37, 150, 190); color: white; height: 30px; padding: 5px;">
                        <span  class="font" fxFlex="50" > Código: {{client.idAgenda }} </span>
                        <span  class="font" fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="50" > Estado: {{client.esCliente}} </span>
                
                    </div>
            
                    <span  class="font mt-20" fxFlex="100" > {{client.archivarComo| capitalizeFirstLetter }}</span>
                    <span  class="font mt-20" fxFlex="50" > Cuit: {{client.cuit || 'sin definir' }}</span>
                    <span  class="font mt-20" style="text-align: end;" fxFlex="50" > Tel: {{client.telefonoCodigoArea}} {{client.numeroLocal || 'sin definir' }}</span>

                    <span  class="font mt-20 " fxFlex="100" > Localidad: {{client.localidad || 'sin definir' }}</span>
                    
                    <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
                        <div class="icon mr-10" (click)="deleteClient(client.id)" >
                            <span class="material-symbols-outlined notranslate" style="color: red;"> delete </span>
                        </div>
                        
                        <div class="icon"  (click)="editClient(client)">
                            <span class="material-symbols-outlined notranslate" style="color: rgb(255, 176, 57);"> edit </span>
                        </div>
                    </div>
                    
                </div>

            
        </div>
        <!-- end cards     -->
    </ng-container>

    <ng-container *ngIf="!phone">
    
        <div class="example-container mat-elevation-z8 font mt-30" fxFlex="97">
        
            <table mat-table [dataSource]="dataTableActive">
        
                <!-- img Column -->
                <ng-container matColumnDef="action" sticky  >
                    <th mat-header-cell *matHeaderCellDef style="padding: 0px;">Accion</th>
                    <td mat-cell *matCellDef="let element" > 

                        <div style="width: 80%; display: flex;  justify-content: space-around;" >
                                <div class="icon" (click)="editClient(element)">
                                    <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);"> edit </span>
                                </div>
                                <div class="icon" (click)="deleteClient(element)">
                                    <span class="material-symbols-outlined notranslate cursor" style="color: red"> delete </span>
                                </div>
                        </div>

                    </td>
                </ng-container>
                    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Nombre completo </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)"  > {{element.archivarComo}} </td>
                </ng-container>
            
                <!-- Stock Column -->
                <ng-container matColumnDef="socialName" >
                    <th mat-header-cell *matHeaderCellDef> Razon social </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" > {{element.razonSocial}} </td>
                </ng-container>
            
                <!-- Price Column -->
                <ng-container matColumnDef="address" >
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" > {{element.domicilio}} </td>
                </ng-container>
        
                <!-- Comment Column -->
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef> Localidad </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" style="font-size: 0.6em;"> <span style="text-align: start;"> {{element.localidad}} </span> </td>
                </ng-container>
                
                
                <!-- Comment Column -->
                <ng-container matColumnDef="province">
                    <th mat-header-cell *matHeaderCellDef> Provincia </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" style="font-size: 0.6em;"> <span style="text-align: start;"> {{element.provincia}} </span> </td>
                </ng-container>

                <!-- Ingredients Column -->
                <ng-container matColumnDef="phone" >
                    <th mat-header-cell *matHeaderCellDef > Teléfono </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" style="font-size: 0.6em;" > <span style="text-align: start;">  {{element.extensionTelefono}}{{element.numeroLocal}} </span> </td>
                </ng-container>

                <!-- Ingredients Column -->
                <ng-container matColumnDef="user" >
                    <th mat-header-cell *matHeaderCellDef > Usuario </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" style="font-size: 0.6em;" > <span style="text-align: start;">  Cliente </span> </td>
                </ng-container>

                <!-- Ingredients Column -->
                <ng-container matColumnDef="email" >
                    <th mat-header-cell *matHeaderCellDef > Email </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" style="font-size: 0.6em;" > <span style="text-align: start;">  {{element.email1}} </span> </td>
                </ng-container>

                
                <!-- Ingredients Column -->
                <ng-container matColumnDef="cuit" >
                    <th mat-header-cell *matHeaderCellDef > CUIT </th>
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)" style="font-size: 0.6em;" > <span style="text-align: start;">  {{element.cuit}} </span> </td>
                </ng-container>
                        
                        
                        
                
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [disabled]="disabled"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex"
        aria-label="Select page" style="margin-top: 30px;">
        </mat-paginator>

    </ng-container>

</div> 
    
  
 <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
</div>
