<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="pd-10 ">


    <img src="assets/lock.jpg" alt="" fxFlex="100">

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" class="pd-10 mb-30">
    <span class="font fs-6" fxFlex="100" style="line-height: 1.2em; text-align: center;"> <b> Solo Administradores </b> </span>        
    <span class="font fs-3" fxFlex="100" style="margin-top: 10px; text-align: center;"> Solo administradores pueden acceder a este contenido </span>        
</div>

<div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" class="mb-10">
    <button mat-raised-button  [ngClass]="selection ? 'btnMenuClicked':'btnMenu'" fxFlex="90" (click)="continue()">
        <i class="material-symbols-outlined notranslate">login</i> 
        &nbsp; Continuar
    </button>
</div>


</div>