<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="mb-60" >

  <span fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="95" class="font fs-7 mt-40"> <b>Listado de usuarios</b> </span>

  <!-- start search -->
  <div  fxLayout="row wrap"  fxLayoutAlign="center center"  class="logo-header mt-20" fxFlex="100">
        
    <form  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 25px; " fxFlex="30" fxFlex.xs="100" (ngSubmit)="buscar()" autocomplete="off" >
        <mat-form-field  appearance="outline" fxFlex="90" class="font fs-5" >
            <input type="text" matInput  placeholder="buscar...."  name="itemSearch"
            [(ngModel)]="itemSearch"    
            (input)="teclaPresionada( )" 
            (onDebounce)="sugerencias( itemSearch )" 
            (keyup.enter)="Search( itemSearch )" >
        </mat-form-field>
    </form>
</div>
<!-- end search -->

  <!-- start suggested   -->
  <div  fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="95" class="mt-20 font fs-5 " *ngIf="mostrarSugerencias">
    
       <mat-icon (click)="close()" style="margin-left: 90%; cursor: pointer; transform: scale(1.2);" > close</mat-icon>
  
       <span *ngFor="let item of suggested , index as i" fxFlex="100">
         <a class="nav-link" style="cursor: pointer;  text-decoration: none; color: blue; " (click)="showSearchInFront(item )">
           {{item.firstName }} {{item.lastName}}
         </a>
        </span>
  </div>  
  
  <div  fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100" *ngIf="spinner">
      <i class="fa fa-spin fa-sync" style="width: 50px; height:50px; color: #f3b304;"></i>
  </div>
  <!-- end suggested   -->

<!-- start show user search -->
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" *ngIf="itemArray.length != 0" >

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" *ngFor="let userSug of itemArray, let item" class="mt-40 mb-20 whiteFrame">
   
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" class="font pd-10">
      
      <span fxFlex="65" class="fs-5" ><b> {{userSug.firstName}}</b> <b> {{userSug.lastName}}</b></span>

      <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="35">

        <div (click)="navigateToHistory(item)" >
            <img src="assets/history-purchase.png" alt="historial de compras" class="history mr-5">
        </div>
            
        <div  (click)="deleteItem(item)" *ngIf="userSug.stateAccount">
            <div class="icon" >
                <span class="material-symbols-outlined notranslate " style="color: red;"> delete </span>
            </div>
        </div>

        <div (click)="pausePlayItem(item)" *ngIf="!userSug.stateAccount">
            <div class="icon" >
                <span class="material-symbols-outlined notranslate" style="color: blue;"> play_arrow </span>
            </div>
        </div> 
    </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" class="font pd-10">
      <span fxFlex="100" style="font-size: 1em;" ><b>Teléfono:</b> &nbsp; {{userSug.phone}}</span>
      <span fxFlex="100" style="font-size: 1em;" ><b>Dirección:</b> &nbsp; {{userSug.addressFavorite}}</span>
      <span fxFlex="65" style="font-size: 1em;" ><b>Email:</b> &nbsp; {{userSug.email}}</span>
      <span fxFlex="35" style="text-align: end; font-size: 1em;"  ><b> {{userSug.stateAccount | state }}</b> </span>

    </div>

  </div>  

</div>  
<!-- end show user search -->


  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" *ngFor="let user of users, let item" class="mt-40 mb-20 whiteFrame">
   
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" class="font pd-10">
      
      <span fxFlex="65" class="fs-5" ><b> {{user.firstName}}</b> <b> {{user.lastName}}</b></span>

      <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="35">

        <div (click)="navigateToHistory(item)" >
            <img src="assets/history-purchase.png" alt="historial de compras" class="history mr-5">
      </div>
            
        <div  (click)="deleteItem(item)" *ngIf="user.stateAccount">
            <div class="icon" >
                <span class="material-symbols-outlined notranslate " style="color: red;"> delete </span>
            </div>
        </div>

        <div (click)="pausePlayItem(item)" *ngIf="!user.stateAccount">
            <div class="icon" >
                <span class="material-symbols-outlined notranslate" style="color: blue; transform: scale(1.5);"> play_arrow </span>
            </div>
        </div>


    </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" class="font pd-10">
      <span fxFlex="100" style="font-size: 1em;" ><b>Teléfono:</b> &nbsp; {{user.phone}}</span>
      <span fxFlex="100" style="font-size: 1em;" ><b>Dirección:</b> &nbsp; {{user.addressFavorite}}</span>
      <span fxFlex="65" style="font-size: 1em;" ><b>Email:</b> &nbsp; {{user.email}}</span>
      <span fxFlex="35" style="text-align: end; font-size: 1em;"  ><b> {{user.stateAccount | state }}</b> </span>

    </div>

  </div>      


</div>          
        
          