<div  fxLayout="row wrap"  fxLayoutAlign="center start" fxFlex="100">

    <div  fxLayout="row wrap"  fxLayoutAlign=" center" fxFlex="95" style="height: 60px; background-color: rgb(37, 150, 190); color: white; padding: 10px; border-radius: 4px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" class="mt-20 pd-10">
        <span fxLayout="row wrap" fxLayoutAlign="start center" class="font fs-6" fxFlex="55" fxFlex.xs="100">Seleccionar cliente</span>
    </div>

     <!-- start form -->
     <form  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 25px;" fxFlex.xs="100" fxFlex="60"  autocomplete="off" >
        <mat-form-field  appearance="outline" fxFlex="90" class="font">
            <input type="text" matInput  placeholder="Buscar Cliente"  name="itemSearch"
            [(ngModel)]="itemSearch"
            (input)="onInput($event)"
            (keyup.enter)="Search( itemSearch )" >
            <mat-icon matSuffix style="transform:scale(1.7); color: rgb(37, 150, 190); margin-right: 20px;" (click)="Search( itemSearch)" >search</mat-icon>
        </mat-form-field>
    </form> 
    <!-- end form -->

    <!-- start suggested    -->
    <div fxLayout="row wrap"  fxLayoutAlign.xs="start center" fxLayoutAlign="center center"  fxFlex="90" *ngIf="mostrarSugerencias" style="padding: 20px;" class="whiteframe" >

        <!-- <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex.xs="100" fxFlex.md="80" fxFlex="60" class="font whiteframe fs-5" style="margin-left: 0px;" >
            <span style="padding: 7px;" > Buscar:   {{ itemSearch }}</span>
            <mat-icon (click)="close()" style="cursor: pointer; margin-right: 10px; transform: scale(1.2);" > close</mat-icon>
        </div> -->
            
        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100" *ngIf="spinner" style="margin-top: 30px;">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
                    
        <div fxLayout="row wrap"  fxLayoutAlign.xs="start center" fxLayoutAlign="space-betweencenter" fxFlex="100" class="font mb-20 " *ngFor="let item of suggested , index as i" >
            
            <!-- <div fxFlex="30" fxFlex.xs="0"></div> -->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxFlex="98"  class="fs-4 boxSelection" >
                <mat-radio-button class="example-margin"  (click)="selectClient( item )"></mat-radio-button>
                <span  style="cursor: pointer; text-align: start; " (click)="selectClient( item )" fxFlex="90" >
                {{ item.archivarComo | capitalizeFirstLetter}}
                </span>
            </div>
            <!-- <div fxFlex="30" fxFlex.xs="0"></div> -->

        </div>
    </div>
    <!-- end suggested    -->
    

    <div fxLayout="row wrap"  fxLayoutAlign="center center" style="background-color: rgb(253, 253, 253); border-radius: 3px; margin-top: 10px; padding: 10px 0px 10px 20px;" fxFlex="97" *ngFor="let client of arrClient" class="whiteframe">
        
        <span  class="font fs-5" fxFlex="100" (click)="selectClient(client)" style="cursor: pointer;"> {{client.apellido |capitalizeFirstLetter }} &nbsp;{{client.nombre | capitalizeFirstLetter }}</span>
        
    </div>
    

    
    
</div>
