
// carousel

.whiteframe{

    padding: 10px;
    border-radius: 15px;
    
    box-shadow: 0px 1px 9px -2px rgba(197, 196, 196, 0.85);
    -webkit-box-shadow: 0px 1px 9px -2px rgba(197, 196, 196, 0.85);
    -moz-box-shadow: 0px 1px 9px -2px rgba(197, 196, 196, 0.85);
}


.incrementer{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px ;
    height: 25px;

    box-shadow: 2px 2px 12px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 12px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px -7px rgba(0,0,0,0.75);
}


.plus{
    border-radius: 10px ;
    border:1px solid rgba(197, 196, 196, 0.85);
    background-color: white;
    // width: 30px;
    box-shadow: 2px 2px 12px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 12px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px -7px rgba(0,0,0,0.75);
    
}

.carousel-cell{
    padding: 5px;
}




// end carousel

.fastFoodIcon, .loadingIcon {
    animation: opaco 1.2s ease-in-out forwards;
    animation-iteration-count: 20; 
    color: rgb(176, 176, 176);
}

.fastFoodIcon {
    font-size: 250px;
}

@keyframes opaco {
    0% {
    opacity:1;
    }
    45% {
    opacity:0.9;
    }
    55% {
    opacity:0.8;
    }
    100% {
    opacity: 0.1;
   }

}

.loadingIcon{
    font-size: 1.3em;
    font-family: 'poppins-light';
}

.statusSelected{
   text-decoration: underline;
 }


.shadow{

    padding:  10px;
    background-color: white;

    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;

    box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
    -webkit-box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
     -moz-box-shadow: -1px 4px 14px -1px rgba(197, 196, 196, 0.45);
}

.btnMenu{
    font-size: 1.2em;
    border: 1px solid #f3b304;

  }
  .btnMenuClicked{
    font-size: 1.2em;
  }


  //Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 360px) {
  
    .btnMenu{
      font-size: 0.9em;
  
    }
    .btnMenuClicked{
      font-size: 0.9em;
    }

  }