<div fxLayout="row wrap" fxLayoutAlign="center space-between" class="pd-20">

    <button  mat-mini-fab  style="background-color: green; height: 70px; width: 70px; margin-top: 40px;" (click)="closeComponent()">
        <mat-icon class="material-symbols-outlined notranslate" style="transform: scale(2);"> done </mat-icon>
   </button>
    
    <div fxLayout="row wrap" fxLayoutAlign="center" class="mt-40" fxFlex="100" >
   
        <span fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="font fs-7 mb-40" >Producto {{value}} </span>
    </div>

</div>