mat-form-field  {
  font-size: 1.2em;
  font-family: "poppins-light";
  line-height: 1em;
}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #f3b304;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #f3b304;
}

.mat-icon-button {
 position: absolute;
 top: 50%;
 right: 5px;
 transform: translateY(-65%);
}

