<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="pd-10">
  
    <button  mat-mini-fab  style="background-color: green; height: 140px; width: 140px; margin-top: 40px;">
        <mat-icon class="material-symbols-outlined notranslate" style="transform: scale(4);"> done </mat-icon>
   </button>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" class="pd-10 mb-30 mt-40" >
    <span class="font fs-5" fxFlex="100" style="line-height: 1.5em;"> <b> {{msg}} correctamente </b> </span>        
    <span class="font fs-4" fxFlex="100" style="margin-top: 20px; text-align: center;"> Esta acción se puede revertir. </span>        
</div>

<div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" class="mb-10 mt-20">
    <button mat-raised-button  [ngClass]="selection ? 'btnMenuClicked':'btnMenu'" fxFlex="48" (click)="action()" >
        <i class="material-symbols-outlined notranslate" style="transform: scale(1.3);" >redo</i> 
        &nbsp;Continuar
    </button>

</div>

</div>

