
.fastFoodIcon, .loadingIcon {
    animation: opaco 1.2s ease-in-out forwards;
    animation-iteration-count: 20; 
    color: rgb(176, 176, 176);
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .btnDate{
    border-radius: 10px;
    height: 50px !important;
    border: 1px solid #f3b304;
    background-color: white;
    color: #f3b304;
    font-family: 'poppins-light';
    font-size: 1.3em;

    box-shadow: -1px 0x 14px -1px rgba(197, 196, 196, 0.45) !important;
    -webkit-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
     -moz-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
  }

  .btnDateSelected{
    border-radius: 10px;
    // border: 1px solid #f3b304;
    background-color: #f3b304;
    color: white;
    font-family: 'poppins-light';
    font-size: 1.3em;

    box-shadow: -1px 0x 14px -1px rgba(197, 196, 196, 0.45) !important;
    -webkit-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
     -moz-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
  }



  .btnError {
    border: 1px solid red;
    background-color: white;
    color: red;
  }

.fastFoodIcon {
    font-size: 250px;
}

@keyframes opaco {
    0% {
    opacity:1;
    }
    45% {
    opacity:0.9;
    }
    55% {
    opacity:0.8;
    }
    100% {
    opacity: 0.1;
   }

}
.loadingIcon{
    font-size: 1.3em;
    font-family: 'poppins-light';
}

.btnMenuClicked{
    border-radius: 0px 0px 20px 20px !important;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    height: 75px !important;
    background-color: #f3b304;
    color: white;
    border: 1px solid #f3b304;

    box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45) !important;
    -webkit-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
     -moz-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
}

.btnMenu{
    border-radius: 0px 0px 20px 20px !important;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    height: 75px !important;
    border: 1px solid #f3b304;
    background-color: white;
    color: #f3b304;

    box-shadow: -1px 0x 14px -1px rgba(197, 196, 196, 0.45) !important;
    -webkit-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
     -moz-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
}


.shadow{
    padding:  10px;
    background-color: white;

    border-radius: 20px 20px 0px 0px !important;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;

    box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
    -webkit-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
     -moz-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
}

.mat-datepicker-toggle {
    position: absolute;
    top: 50%;
    right: 0px;
    left: 100%;
    transform: translateY(-65%);
  }

  .btnMenu{
    font-size: 1.5em;

  }
  .btnMenuClicked{
    font-size: 1.5em;
  }


  //Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {

  .btnDate{
    font-size: 1em;
  }

  .btnDateSelected{
    font-size: 1em;
  }

  .btnMenu{
    font-size: 1.3em;

  }
  .btnMenuClicked{
    font-size: 1.3em;
  }
}



